:root {
    --login-primary-color: #3a68b7;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--login-primary-color);
}

.form {
    width: 80%;
    max-width: 32rem;
    background-color: white;
}

.form__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: .25em;
    padding: 2rem;
}

.form__title {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: var(--login-primary-color);
    padding-top: 2rem;
}