:root {
    --login-primary-color: #3a68b7;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--login-primary-color);
}

.form {
    width: 80%;
    max-width: 32rem;
    background-color: white;
}

.form__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: .25em;
    padding: 2rem;
}

.form__title {
    font-weight: 300;
    font-size: 2rem;
    color: var(--login-primary-color);
    padding-top: 2rem;
}

.form__label {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 300;
}

.form__input {
    padding: .4rem 0;
    font-size: 1.2rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--login-primary-color);
    outline: 0;
    margin-bottom: .8rem;
    transition: padding-left .1s;
}

.form__input:focus {
    outline: 2px solid var(--login-primary-color);
    padding-left: .3rem;
}